.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: white;
}

.addCourseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-group {
  margin: 20px 0;
  width: 100%;
}

label {
  font-weight: bold;
}

.addInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.addCourseSubmit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008cba;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 35%;
}

.addCourseSubmit:hover {
  background-color: #1a98c3;
}

/* styles for the form-group divs */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  outline: solid 2px rgb(150, 150, 150);
}

.form-group input:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.form-group textarea:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group input[type='file'] {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* styles for the form-container div */
.form-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
  margin-top: 10px;
  /* background-color: #f2f2f2; */
}

/* styles for the h2 heading */
.addcourseH2 {
  text-align: center;
  margin-bottom: 20px;
  color: #008cba;
}

/* styles for error messages */
.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
}

.dropdown {
  color: black;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  /* outline: solid 2px rgb(150, 150, 150); */
}

select:focus {
  outline: none;
}

/* styles for screens smaller than 768px */
@media (max-width: 800px) {
  .form-container {
    width: 90%;
    margin-top: 30px;
  }
  .addCourseSubmit {
    width: 30%;
  }
  form {
    width: 100%;
  }
}

/* styles for screens larger than 768px */
